{{ warnf "dot_gitconfig.tmpl\n" -}}

[init]
	defaultBranch = main
[user]
	email = 80985309+valonsodev@users.noreply.github.com
	name = valonso
[core]
	editor = codium -w
	autocrlf = input
[push]
	autoSetupRemote = true