{{ warnf "dot_config/gtk/gtk.css.tmpl\n" -}}

{{ $theme := (include (joinPath .chezmoi.homeDir ".config" "theming" "theme.json") | fromJson) -}}

/*
* GTK Colors
*/

@define-color accent_color {{ $theme.primary }};
@define-color accent_fg_color {{ $theme.onPrimary }};
@define-color accent_bg_color {{ $theme.primary }};
@define-color window_bg_color {{ $theme.background }};
@define-color window_fg_color {{ $theme.onBackground }};
@define-color headerbar_bg_color {{ $theme.surfaceDim }};
@define-color headerbar_fg_color {{ $theme.onSurface }};
@define-color popover_bg_color {{ $theme.surfaceDim }};
@define-color popover_fg_color {{ $theme.onSurface }};
@define-color view_bg_color {{ $theme.surface }};
@define-color view_fg_color {{ $theme.onSurface }};
@define-color card_bg_color {{ $theme.surface }};
@define-color card_fg_color {{ $theme.onSurface }};
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;