{{ warnf ".chezmoiscripts/run_onchange_after_waybar-reload.sh.tmpl\n" -}}

#!/bin/sh

{{ $waybarDir := joinPath .chezmoi.homeDir ".config" "waybar" }}

{{ $waybarConfig := joinPath $waybarDir "config.jsonc" }} # Watch waybar config
# {{ $waybarConfig }} hash: {{ include $waybarConfig | sha256sum }}

{{ $waybarStyle := joinPath $waybarDir "style.css" }} # Watch waybar styles (derived from theme.json)
# {{ $waybarStyle }} hash: {{ include $waybarStyle | sha256sum }}


pkill -SIGUSR2 waybar 2> /dev/null