{{ warnf ".chezmoiscripts/run_onchange_after_mako-reload.tmpl\n" -}}

#!/bin/sh

{{ $configFolder := joinPath .chezmoi.homeDir ".config" }}

{{ $makoConfig := joinPath $configFolder "mako" "config" }} # Watch mako config (derived from theme.json)
# mako config hash: {{ include $makoConfig | sha256sum }}

makoctl reload
notify-send -u critical -t 2000 "Mako reloaded" "Reloaded Mako config"