{{ warnf ".chezmoiscripts/run_onchange_after_waybar-reload.sh.tmpl\n" -}}

#!/bin/sh

{{ $waybarDir := joinPath .chezmoi.homeDir ".config" "waybar" }}

{{ $waybarConfig := joinPath $waybarDir "config.jsonc" }} # Watch waybar config
# {{ $waybarConfig }} hash: {{ include $waybarConfig | sha256sum }}

{{ $waybarStyle := joinPath $waybarDir "style.css" }} # Watch waybar styles (derived from theme.json)
# {{ $waybarStyle }} hash: {{ include $waybarStyle | sha256sum }}

if ! pgrep -x waybar > /dev/null; then
    waybar > /dev/null 2>&1 &
    sleep 1 # Give waybar a moment to start
else
    nohup pkill -SIGUSR2 waybar > /dev/null 2>&1
fi