{{ warnf ".chezmoiscripts/run_onchange_after_hyprpaper-reload.sh.tmpl\n" -}}

#!/bin/sh

{{ $watchedFile := glob .wallpaper.path | first }} # Watch wallpaper file

# {{ $watchedFile }} hash: {{ include $watchedFile | sha256sum }}

if ! pgrep -x hyprpaper > /dev/null; then
    nohup hyprpaper > /dev/null 2>&1 &
fi

hyprctl hyprpaper reload ,"{{ $watchedFile }}" > /dev/null 2>&1 &