#!/bin/sh

{{ $watchedFile := joinPath .chezmoi.homeDir ".config" "theming" "wallpaper.png" }}
# {{ $watchedFile }}
# wallpaper.png hash: {{ include $watchedFile | sha256sum }}

hyprctl hyprpaper reload ,"{{ $watchedFile }}"
