{{ warnf ".chezmoiscripts/run_onchange_after_hyprlock-reload.sh.tmpl\n" -}}

#!/bin/sh

{{ $colorsFile := joinPath .chezmoi.homeDir ".config" "hypr" "material.conf" }} # Watch Hyprland material colors file (derived from theme.json) 
# {{ $colorsFile }} hash: {{ include $colorsFile | sha256sum }}

{{ $hyprlockConfig := joinPath .chezmoi.homeDir ".config" "hypr" "hyprlock.conf" }} # Watch Hyprland lockscreen config
# {{ $hyprlockConfig }} hash: {{ include $hyprlockConfig | sha256sum }}

pkill -SIGUSR2 hyprlock 2> /dev/null | true