{{ warnf "dot_config/vesktop/themes/material.css.tmpl\n" -}}

{{ $theme := (include (joinPath .chezmoi.homeDir ".config" "theming" "theme.json") | fromJson) -}}

{{- define "hexToRGB" -}}
  {{- $dec := regexReplaceAll "#" . "0x" | int -}}
  {{- $r := div $dec 65536 -}}
  {{- $g := mod (div $dec 256) 256 -}}
  {{- $b := mod $dec 256 -}}
  {{- printf "%d, %d, %d" $r $g $b -}}
{{- end -}}

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
    --settingsicons:		1;				/*	Use Settings Icons in User Settings: 1 = yes, 0 = no							*/
  --font: '{{ $.font.family }}', 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Nerd Font', 'Segoe UI', 'Arial', monospace;

  --accentcolor:               {{ template "hexToRGB" $theme.tertiary }}; /* Channel mentions, new messages, notifications, etc. */
  --accentcolor2:              {{ template "hexToRGB" $theme.surfaceTint }}; /* Server XP bar and little icon on the left of the server name */
  --linkcolor:                 {{ template "hexToRGB" $theme.tertiary }}; /* Links */
  --mentioncolor:              {{ template "hexToRGB" $theme.surfaceTint }}; /* Highlight color when mentioned */
  --successcolor:              {{ template "hexToRGB" $theme.secondary }}; /* The wifi icon and some icons here and there */
  --warningcolor:              {{ template "hexToRGB" $theme.tertiary }}; /* No clue */
  --dangercolor:               {{ template "hexToRGB" $theme.error }}; /* Mute button, new messages */

  --textbrightest:             {{ template "hexToRGB" $theme.onSecondaryContainer }}; /* Channels with new messages, server list dot */
  --textbrighter:              {{ template "hexToRGB" $theme.onSurface }}; /* Normal messages and # in channel list */
  --textbright:                {{ template "hexToRGB" $theme.onSurfaceVariant }}; /* Quoted messages and lower focus text */
  --textdark:                  {{ template "hexToRGB" $theme.surfaceVariant }}; /* Read channels, message times, user activity */
  --textdarker:                {{ template "hexToRGB" $theme.surfaceVariant }}; /* Dates in a channel (message list) and message input text */
  --textdarkest:               {{ template "hexToRGB" $theme.secondaryContainer }}; /* The little L in channel threads adn some button */


  --backgroundtertiary:        {{ template "hexToRGB" $theme.surfaceContainerLowest }}; /* Default background behind everything */
  --backgroundsecondaryalt:    {{ template "hexToRGB" $theme.surfaceContainerLow }}; /* Channel list background */
  --backgroundsecondary:       {{ template "hexToRGB" $theme.surfaceContainer }}; /* Main background */
  
  --backgroundaccent:          {{ template "hexToRGB" $theme.surfaceContainerHighest }}; /* Highlight background (reactions, selected channel) */

  --backgroundcode:            {{ template "hexToRGB" $theme.surfaceDim }}; /* Code block background */
  --backgroundprimary:         {{ template "hexToRGB" $theme.surfaceContainerHigh }}; /* Message input and own badge background */
  
  --backgroundfloating:        {{ template "hexToRGB" $theme.surfaceContainerLowest }}; /* Popups background */
}