@import "~/.config/rofi/colors.rasi"

* {
  background-color:       @background;
  text-color:             @onSurface;
}

window {
  width:      						360px;
  padding:    						25px;
  border:									2px;
  border-color:           #ffffff;
}

entry {
  expand: 								true;
  text-color:							@onSurface;
}
