{{ $theme := (include "dot_config/theming/theme.json" | fromJson) }}

$primary = rgb({{ trimPrefix "#" $theme.primary }})
$primaryAlpha = {{ trimPrefix "#" $theme.primary }}

$surfaceTint = rgb({{ trimPrefix "#" $theme.surfaceTint }})
$surfaceTintAlpha = {{ trimPrefix "#" $theme.surfaceTint }}

$onPrimary = rgb({{ trimPrefix "#" $theme.onPrimary }})
$onPrimaryAlpha = {{ trimPrefix "#" $theme.onPrimary }}

$primaryContainer = rgb({{ trimPrefix "#" $theme.primaryContainer }})
$primaryContainerAlpha = {{ trimPrefix "#" $theme.primaryContainer }}

$onPrimaryContainer = rgb({{ trimPrefix "#" $theme.onPrimaryContainer }})
$onPrimaryContainerAlpha = {{ trimPrefix "#" $theme.onPrimaryContainer }}

$secondary = rgb({{ trimPrefix "#" $theme.secondary }})
$secondaryAlpha = {{ trimPrefix "#" $theme.secondary }}

$onSecondary = rgb({{ trimPrefix "#" $theme.onSecondary }})
$onSecondaryAlpha = {{ trimPrefix "#" $theme.onSecondary }}

$secondaryContainer = rgb({{ trimPrefix "#" $theme.secondaryContainer }})
$secondaryContainerAlpha = {{ trimPrefix "#" $theme.secondaryContainer }}

$onSecondaryContainer = rgb({{ trimPrefix "#" $theme.onSecondaryContainer }})
$onSecondaryContainerAlpha = {{ trimPrefix "#" $theme.onSecondaryContainer }}

$tertiary = rgb({{ trimPrefix "#" $theme.tertiary }})
$tertiaryAlpha = {{ trimPrefix "#" $theme.tertiary }}

$onTertiary = rgb({{ trimPrefix "#" $theme.onTertiary }})
$onTertiaryAlpha = {{ trimPrefix "#" $theme.onTertiary }}

$tertiaryContainer = rgb({{ trimPrefix "#" $theme.tertiaryContainer }})
$tertiaryContainerAlpha = {{ trimPrefix "#" $theme.tertiaryContainer }}

$onTertiaryContainer = rgb({{ trimPrefix "#" $theme.onTertiaryContainer }})
$onTertiaryContainerAlpha = {{ trimPrefix "#" $theme.onTertiaryContainer }}

$error = rgb({{ trimPrefix "#" $theme.error }})
$errorAlpha = {{ trimPrefix "#" $theme.error }}

$onError = rgb({{ trimPrefix "#" $theme.onError }})
$onErrorAlpha = {{ trimPrefix "#" $theme.onError }}

$errorContainer = rgb({{ trimPrefix "#" $theme.errorContainer }})
$errorContainerAlpha = {{ trimPrefix "#" $theme.errorContainer }}

$onErrorContainer = rgb({{ trimPrefix "#" $theme.onErrorContainer }})
$onErrorContainerAlpha = {{ trimPrefix "#" $theme.onErrorContainer }}

$background = rgb({{ trimPrefix "#" $theme.background }})
$backgroundAlpha = {{ trimPrefix "#" $theme.background }}

$onBackground = rgb({{ trimPrefix "#" $theme.onBackground }})
$onBackgroundAlpha = {{ trimPrefix "#" $theme.onBackground }}

$surface = rgb({{ trimPrefix "#" $theme.surface }})
$surfaceAlpha = {{ trimPrefix "#" $theme.surface }}

$onSurface = rgb({{ trimPrefix "#" $theme.onSurface }})
$onSurfaceAlpha = {{ trimPrefix "#" $theme.onSurface }}

$surfaceVariant = rgb({{ trimPrefix "#" $theme.surfaceVariant }})
$surfaceVariantAlpha = {{ trimPrefix "#" $theme.surfaceVariant }}

$onSurfaceVariant = rgb({{ trimPrefix "#" $theme.onSurfaceVariant }})
$onSurfaceVariantAlpha = {{ trimPrefix "#" $theme.onSurfaceVariant }}

$outline = rgb({{ trimPrefix "#" $theme.outline }})
$outlineAlpha = {{ trimPrefix "#" $theme.outline }}

$outlineVariant = rgb({{ trimPrefix "#" $theme.outlineVariant }})
$outlineVariantAlpha = {{ trimPrefix "#" $theme.outlineVariant }}

$shadow = rgb({{ trimPrefix "#" $theme.shadow }})
$shadowAlpha = {{ trimPrefix "#" $theme.shadow }}

$scrim = rgb({{ trimPrefix "#" $theme.scrim }})
$scrimAlpha = {{ trimPrefix "#" $theme.scrim }}

$inverseSurface = rgb({{ trimPrefix "#" $theme.inverseSurface }})
$inverseSurfaceAlpha = {{ trimPrefix "#" $theme.inverseSurface }}

$inverseOnSurface = rgb({{ trimPrefix "#" $theme.inverseOnSurface }})
$inverseOnSurfaceAlpha = {{ trimPrefix "#" $theme.inverseOnSurface }}

$inversePrimary = rgb({{ trimPrefix "#" $theme.inversePrimary }})
$inversePrimaryAlpha = {{ trimPrefix "#" $theme.inversePrimary }}

$primaryFixed = rgb({{ trimPrefix "#" $theme.primaryFixed }})
$primaryFixedAlpha = {{ trimPrefix "#" $theme.primaryFixed }}

$onPrimaryFixed = rgb({{ trimPrefix "#" $theme.onPrimaryFixed }})
$onPrimaryFixedAlpha = {{ trimPrefix "#" $theme.onPrimaryFixed }}

$primaryFixedDim = rgb({{ trimPrefix "#" $theme.primaryFixedDim }})
$primaryFixedDimAlpha = {{ trimPrefix "#" $theme.primaryFixedDim }}

$onPrimaryFixedVariant = rgb({{ trimPrefix "#" $theme.onPrimaryFixedVariant }})
$onPrimaryFixedVariantAlpha = {{ trimPrefix "#" $theme.onPrimaryFixedVariant }}

$secondaryFixed = rgb({{ trimPrefix "#" $theme.secondaryFixed }})
$secondaryFixedAlpha = {{ trimPrefix "#" $theme.secondaryFixed }}

$onSecondaryFixed = rgb({{ trimPrefix "#" $theme.onSecondaryFixed }})
$onSecondaryFixedAlpha = {{ trimPrefix "#" $theme.onSecondaryFixed }}

$secondaryFixedDim = rgb({{ trimPrefix "#" $theme.secondaryFixedDim }})
$secondaryFixedDimAlpha = {{ trimPrefix "#" $theme.secondaryFixedDim }}

$onSecondaryFixedVariant = rgb({{ trimPrefix "#" $theme.onSecondaryFixedVariant }})
$onSecondaryFixedVariantAlpha = {{ trimPrefix "#" $theme.onSecondaryFixedVariant }}

$tertiaryFixed = rgb({{ trimPrefix "#" $theme.tertiaryFixed }})
$tertiaryFixedAlpha = {{ trimPrefix "#" $theme.tertiaryFixed }}

$onTertiaryFixed = rgb({{ trimPrefix "#" $theme.onTertiaryFixed }})
$onTertiaryFixedAlpha = {{ trimPrefix "#" $theme.onTertiaryFixed }}

$tertiaryFixedDim = rgb({{ trimPrefix "#" $theme.tertiaryFixedDim }})
$tertiaryFixedDimAlpha = {{ trimPrefix "#" $theme.tertiaryFixedDim }}

$onTertiaryFixedVariant = rgb({{ trimPrefix "#" $theme.onTertiaryFixedVariant }})
$onTertiaryFixedVariantAlpha = {{ trimPrefix "#" $theme.onTertiaryFixedVariant }}

$surfaceDim = rgb({{ trimPrefix "#" $theme.surfaceDim }})
$surfaceDimAlpha = {{ trimPrefix "#" $theme.surfaceDim }}

$surfaceBright = rgb({{ trimPrefix "#" $theme.surfaceBright }})
$surfaceBrightAlpha = {{ trimPrefix "#" $theme.surfaceBright }}

$surfaceContainerLowest = rgb({{ trimPrefix "#" $theme.surfaceContainerLowest }})
$surfaceContainerLowestAlpha = {{ trimPrefix "#" $theme.surfaceContainerLowest }}

$surfaceContainerLow = rgb({{ trimPrefix "#" $theme.surfaceContainerLow }})
$surfaceContainerLowAlpha = {{ trimPrefix "#" $theme.surfaceContainerLow }}

$surfaceContainer = rgb({{ trimPrefix "#" $theme.surfaceContainer }})
$surfaceContainerAlpha = {{ trimPrefix "#" $theme.surfaceContainer }}

$surfaceContainerHigh = rgb({{ trimPrefix "#" $theme.surfaceContainerHigh }})
$surfaceContainerHighAlpha = {{ trimPrefix "#" $theme.surfaceContainerHigh }}

$surfaceContainerHighest = rgb({{ trimPrefix "#" $theme.surfaceContainerHighest }})
$surfaceContainerHighestAlpha = {{ trimPrefix "#" $theme.surfaceContainerHighest }}

$primaryPaletteKeyColor = rgb({{ trimPrefix "#" $theme.primaryPaletteKeyColor }})
$primaryPaletteKeyColorAlpha = {{ trimPrefix "#" $theme.primaryPaletteKeyColor }}

$secondaryPaletteKeyColor = rgb({{ trimPrefix "#" $theme.secondaryPaletteKeyColor }})
$secondaryPaletteKeyColorAlpha = {{ trimPrefix "#" $theme.secondaryPaletteKeyColor }}
