{{ $theme := (include "dot_config/theming/theme.json" | fromJson) }}

[theme]
name = "material"

[colors]
AlertInfo = "{{ lower $theme.primary }}"              # material: primary
AlertWarn = "{{ lower $theme.tertiary }}"             # material: tertiary
AlertError = "{{ lower $theme.error }}"               # material: error
Annotation = "{{ lower $theme.secondary }}"           # material: secondary
Base = "{{ lower $theme.background }}"                # material: background
Guidance = "{{ lower $theme.tertiaryContainer }}"    # material: tertiaryContainer
Important = "{{ lower $theme.secondaryContainer }}"  # material: secondaryContainer