{{ warnf "dot_config/rofi/colors.rasi.tmpl\n" -}}

{{ $theme := (include (joinPath .chezmoi.homeDir ".config" "theming" "theme.json") | fromJson) -}}

* {
  background:           {{ $theme.background }};
  onBackground:         {{ $theme.onBackground }};
  surface:              {{ $theme.surface }};
  onSurface:            {{ $theme.onSurface }};
  surfaceVariant:       {{ $theme.surfaceVariant }};
  onSurfaceVariant:     {{ $theme.onSurfaceVariant }};
  surfaceDim:           {{ $theme.surfaceDim }};
  surfaceBright:        {{ $theme.surfaceBright }};
  surfaceContainerLowest:      {{ $theme.surfaceContainerLowest }};
  surfaceContainerLow:         {{ $theme.surfaceContainerLow }};
  surfaceContainer:            {{ $theme.surfaceContainer }};
  surfaceContainerHigh:        {{ $theme.surfaceContainerHigh }};
  surfaceContainerHighest:     {{ $theme.surfaceContainerHighest }};

  primary:              {{ $theme.primary }};
  onPrimary:            {{ $theme.onPrimary }};
  primaryContainer:     {{ $theme.primaryContainer }};
  onPrimaryContainer:   {{ $theme.onPrimaryContainer }};
  primaryFixed:         {{ $theme.primaryFixed }};
  onPrimaryFixed:       {{ $theme.onPrimaryFixed }};
  primaryFixedDim:      {{ $theme.primaryFixedDim }};
  onPrimaryFixedVariant:{{ $theme.onPrimaryFixedVariant }};
  primaryPaletteKeyColor:      {{ $theme.primaryPaletteKeyColor }};

  secondary:                {{ $theme.secondary }};
  onSecondary:              {{ $theme.onSecondary }};
  secondaryContainer:       {{ $theme.secondaryContainer }};
  onSecondaryContainer:     {{ $theme.onSecondaryContainer }};
  secondaryFixed:           {{ $theme.secondaryFixed }};
  onSecondaryFixed:         {{ $theme.onSecondaryFixed }};
  secondaryFixedDim:        {{ $theme.secondaryFixedDim }};
  onSecondaryFixedVariant:  {{ $theme.onSecondaryFixedVariant }};
  secondaryPaletteKeyColor: {{ $theme.secondaryPaletteKeyColor }};

  tertiary:              {{ $theme.tertiary }};
  onTertiary:            {{ $theme.onTertiary }};
  tertiaryContainer:     {{ $theme.tertiaryContainer }};
  onTertiaryContainer:   {{ $theme.onTertiaryContainer }};
  tertiaryFixed:         {{ $theme.tertiaryFixed }};
  onTertiaryFixed:       {{ $theme.onTertiaryFixed }};
  tertiaryFixedDim:      {{ $theme.tertiaryFixedDim }};
  onTertiaryFixedVariant:{{ $theme.onTertiaryFixedVariant }};

  error:                {{ $theme.error }};
  onError:              {{ $theme.onError }};
  errorContainer:       {{ $theme.errorContainer }};
  onErrorContainer:     {{ $theme.onErrorContainer }};

  outline:              {{ $theme.outline }};
  outlineVariant:       {{ $theme.outlineVariant }};
  shadow:               {{ $theme.shadow }};
  scrim:                {{ $theme.scrim }};
  inverseSurface:       {{ $theme.inverseSurface }};
  inverseOnSurface:     {{ $theme.inverseOnSurface }};
  inversePrimary:       {{ $theme.inversePrimary }};

  font-family:         "{{ $.font.family }}";
  font:         "{{ $.font.family }} 11";
  red:        #ed3c50;
  green:      #42b883;
  yellow:     #ffc517;
  blue:       #3b8eed;
  magenta:    #de41e0;
  cyan:       #a3b1cc;
}